BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 140

AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true

AlignTrailingComments: true
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Attach

IndentCaseLabels: true

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: true
